<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
	<title>Micro Blog</title>
</head>
<body>
    <header class="group">
        <h1><a href="/feed">WDI micro BLOG</a></h1>
            <nav class="group">
                <ul>
                    <li><a href="/feed">Home</a></li>
                    <li><a href="/authors">Authors</a></li>
                    <li><a href="/subscribe">Subscribe</a></li>
                </ul>
            </nav>        
    </header>
    <div class="wrapper">
        <div class="banner">
            <h2>Feeds</h2>
        </div>
	    <form action="/feed" method="POST">
		    <p>Author: 
			    <input type="text" name="author" placeholder="Author">
    	    </p>
    	    <p>Title:
    		    <input type="text" name="title" placeholder="Title">
            </p>    
    	    <p>Hastag:    
                <input type="text" name="tag" placeholder="Hashtag">
    	    </p>
    	    <p>
    	       <textarea name="textarea" rows="10" cols="50">Write something here</textarea><button>Post</button>
    	    </p>
	    </form>
        <%= posts %>
        <a href="/feed">Go back</a>
    </div> 
    <footer>
            
    </footer>        
</body>
</html>