<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	<title><%= Author.where(id: post.author_id)[0]["name"]%>'s Post</title>
</head>
<body>
    <header class="group">
        <h1><a href="/feed">WDI micro BLOG</a></h1>
            <nav class="group">
                <ul>
                    <li><a href="/feed">Home</a></li>
                    <li><a href="/authors">Authors</a></li>
                    <li><a href="/subscribe" id="third">Subscribe</a></li>
                    <li id="search_tag">Search by tag
                        <form action="/tag/posts" method="GET">
                            <input type="text" name="name"
                            placeholder="#tag">
                        </form>
                    </li>
                </ul>
            </nav>        
    </header>
    <div class="wrapper">
    <div class="banner">
        <h2></h2>
    </div>
    <article class="detail">
        <h3 class="date"><span><%= post.created_at %></span></h3>
        <h2 class="title"><span><%= post.title %></span></h2>
        <p class="content"><span><%= post.content %></span></p> 
    </article>
    <a href="/feed">Go Back</a>
    </div>
    <footer>
        
    </footer>    
</body>
</html>