body {
	margin: 0 auto;
	background: #FFA46D;
	font-family: 'Yanone Kaffeesatz', sans-serif;	/*cursor: pointer;*/
	font-size: 1.1em;
	line-height: 1.5;
	text-align: center;
}

nav {
	color: #FFFF65;
}

nav form {
	display: inline;
}

img {
	max-width: 100%;
}

strong {
	font-weight: bold;
}

h3 {
	font-size: 1.3em;
}

h6	 {
	font-size: 1em;
}

p {
	margin: 1.5em 0;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #FFFF65;
}

textarea {
	width: 100%;
}

.wrapper {
	margin: 2% 5%;
	/*position: relative;*/
}

@media screen and (max-width: 1024px) {

/******General******/

/******Header******/

	header {
		background: #000000;
		padding: 2% 5%;
		text-align: center;
		border-bottom: 4px solid #E9EAED;
	}

	header h1 a {
		float: left;
		color: #FFFF65;
		font-size: 1.7em; 
		line-height: 1.2;
		font-weight: bold;
		font-family: 'Oswald', sans-serif;
		letter-spacing: -0.08em;
	}

	header h1 a:hover {
	
	}
	
	header h2 {
		display: inline;
		font-size: 2em;
	}

	header h6	 {
		font-size: 1.5em;
		display: inline;
	}

	nav {
		text-align: center;	
		float: right;
		margin-top: 3px;
	}

	nav ul {
		width: 150%;
		text-align: center;
	}

	nav ul li {
		float: left;
		list-style: none;
		padding: 0;
	}

	nav ul li #third {
		margin-right: 1em;
	}
	
	nav ul li a {
		color: #FFFF65;
		margin-left: 1em;
	}

	nav ul li a:hover {
		color: #BABA4A;
	}	

/******submit form******/

	.submit_index {
		margin-top: 9%;
	}

	.submit {
		width: 100%;
		margin-bottom: 1%;
		margin-top: 24px;
	}

	.submit #heading {
		margin: -1% 0 -2% 0;
	}

	.submit #heading p {
		display: inline;
		margin-top: -2%;
	}

	.submit #heading form {
		margin: 1% 0;
	}

	.submit #add, #title, #hashtag {
		background: none;
	}

	.submit #dropbox {
		margin-top: 1%;
		display: block;
	}

	.submit form {
		margin-bottom: 1%;
	}

	.submit #body {
		margin-bottom: -2%;
	}

	.submit #body button {
		position: relative;
		left: 10px;
		bottom: 6px;
	}

/******wrapper******/

	.wrapper h6	 {
		margin: 2% 0;
		width: 100%;
		display: block;
	}

	.wrapper h6	 span, h2 span, p span {
		background-color: rgba(255, 255, 255, 0.8);
		padding: 1%;
		border-radius: 6px;
		margin-bottom: 3%;
	}

	.wrapper form {
		margin-bottom: 2%;
	}

	.wrapper #edit_form {
		margin-top: -5%;
	}

	.detail {
		background: #E9EAED;
		border: 2px solid #B8A696;
		border-radius: 10px;
		text-align: left;
		margin: 0 10% 5% 10%;
		padding: 2%;
		height: 500px;
		font-size: 80%;
	}

	.detail article h6	.date, h2.title, p.content {
		margin-bottom: 3%;
		border-radius: 6px;
	}

	.detail article p.content {
		background-color: rgba(255, 255, 255, 0.8);
		padding: 0.1% 0.1% 7.550px 0.1%;
		font-size: 2em;
		border-radius: 6px;
		margin: 0;
	}

	.title {
		font-size: 2em;
		margin-bottom: 2%;
	}

	h6 .date {
		font-size: 1.5em;
		margin: 0;
		text-align: left;
		margin-bottom: 1%;
		padding: 0.1%;
		border-radius: 6px;
	}

	.content::first-letter {
		text-transform: capitalize;
		font-size: 2em;
		color: #E96462;
	}

	p.content {
		font-size: 1.5em;
		margin: -4% 0 0 0;
	}

/******timeline******/

	.timeline {
		padding:0 3% 0 3%;
		margin-bottom: 2%;
	}

	.timeline form {
		display: inline;
	}

	.timeline h4 {
		text-align: left;
		font-size: 0.8em;
		margin-left: 2%;
		margin-top: 1%;
	}

	.timeline li {
		margin-bottom: 1%;
	}

	.timeline a {
		
	}

	.post {
		background-color: rgba(233, 234, 237, 0.7);
		border: 2px solid #B8A696;
		border-radius: 10px;
		margin-bottom: 1%;
	}

	.post h4 {
		margin-bottom: -1%;
	}

	.post h4 span {
		color: #E96462;
		background-color: rgba(255, 255, 255, 0.8);
		padding: 0.2%;
		border-radius: 6px;
	}

	.post h3	 {
		margin: 0;
	}

	.post h3	 a {
		font-size: 1em;
		background-color: rgba(255, 255, 255, 0.8);
		padding: 0.2%;
		border-radius: 6px;
	}

/*	.post li {
		padding: 0.2%;
		border-radius: 6px;
	}*/

	.post span {
		background-color: rgba(255, 255, 255, 0.8);
		padding: 0.2%;
		border-radius: 6px;
	}

/******banner******/

	.banner {
		margin: 1% 0;
	}

	.banner {
	/*background: #FFFF65;*/
		margin: 1% 0;
		padding: 1%;
	}

	.banner h2 {
		font-size: 2em;
		font-family: 'Yanone Kaffeesatz', sans-serif;
	}

	.banner h6	 {
		color: #E9EAED;
	}

/******reblog******/

	.reblog {
		background-color: rgba(233, 234, 237, 0.9);
		border: 2px solid #B8A696;
		border-radius: 10px;
		text-align: left;
		margin: 0 20%;
		padding: 1%;
	}

	.reblog h6	 {
		margin-top: 0;
		font-size: 1.2em;
	}

	.reblog article p {
		margin: 0;
		font-size: 0.8em;
	}

/******list in authors page******/

	.list {
		text-align: center;
	}

	.list li {
		margin-bottom: 1em;
	}

	.list h3 {
		display: inline;
		font-size: 1.7em;
	}

	.list h3 a {
		color: #E9EAED;
	}

	.list h3 a:hover {
		color: #FFFF65;
	}

	.list h4 {
		 display: inline;
		 margin-left: 1%;
	}

/******footer******/

	footer {
		/*background: #000000;
		height: 40px;
		border-top: 4px solid #E9EAED;
		margin: 2% 0 0 0;
		position: absolute;
		bottom: 0;*/
	}
}

@media screen and (max-width: 768px) {
/******Header******/

	header {
		background: #000000;
		padding: 2% 5%;
		text-align: center;
		border-bottom: 4px solid #E9EAED;
	}

	header h1 a {
		float: left;
		color: #FFFF65;
		font-size: 1.5em; 
		line-height: 1.2;
		font-weight: bold;
		font-family: 'Oswald', sans-serif;
		letter-spacing: 0em;
	}

	header h1 a:hover {
	
	}
	
	header h2 {
		display: inline;
		font-size: 2em;
	}

	header h3	 {
		font-size: 1.5em;
		display: inline;
	}

	nav {
		text-align: center;	
		float: right;
		margin-top: 3px;
	}

	nav ul {
		width: 150%;
		text-align: center;
	}

	nav ul li {
		float: left;
		list-style: none;
		padding: 0;
	}

	nav ul li #third {
		margin-right: 1em;
	}
	
	nav ul li a {
		color: #FFFF65;
		margin-left: 1em;
	}

	nav ul li a:hover {
		color: #BABA4A;
	}	

/******submit form******/

	.submit_index {
		margin-top: 9%;
	}

	.submit {
		width: 100%;
		margin-bottom: 1%;
		margin-top: 24px;
	}

	.submit #heading {
		margin: -2% 0 -1% 0;
	}

	.submit #heading p {
		display: inline;
	}

	.submit #heading form {
		margin: 1% 0;
	}

	.submit form {
		margin-bottom: 1%;
	}

	.submit #body button {
		position: relative;
		left: 10px;
		bottom: 6px;
	}

	.submit form#add_author {
		margin-bottom: 3%;
	}

	.submit #add {
		display: block;
		margin-bottom: 3%;
	}

	.submit #dropbox {
		display: inline;
		margin-bottom: 10%;
	}

	.submit #author {
		display: inline;
		padding: 3% 0;
	}

	.submit #title {
		display: inline;
		margin-bottom: 3%;
	}

	.submit #hashtag {
		display: inline;
		margin-bottom: 3%;
	}

	.subit span#hashtag {
		color: white;
	}

/******wrapper******/

	.wrapper h6	 {
		margin: 2% 0;
		/*color: #E96462;*/
	}

	.wrapper form {
		margin-bottom: 2%;
	}

	.detail {
		background: #E9EAED;
		border: 2px solid #B8A696;
		border-radius: 10px;
		text-align: left;
		margin: 0 20% 5% 20%;
		padding: 2%;
		height: 400px;
		font-size: 70%;
	}

	.detail p {
		margin-top: 1.8%;
	}

	.title {
		font-size: 2em;
	}

	.date {
		color: #B8A696;
		font-size: 1.5em;
		margin-top: 0;
		margin-top: 0;
		text-align: left;
	}

	.content::first-letter {
		text-transform: capitalize;
		font-size: 2.5em;
		color: #E96462;
	}

/******timeline******/

	.timeline {
		padding:0 3% 0 3%;
	}

	.timeline form {
		display: inline;
	}

	.timeline h4 {
		text-align: left;
		font-size: 0.8em;
		margin-left: 2%;
		margin-top: 1%;
	}

	.timeline li {
		margin-bottom: 2%;
	}

	.timeline a {
		margin-right: 1%;
	}

	.post {
		background-color: rgba(233, 234, 237, 0.7);
		border: 2px solid #B8A696;
		border-radius: 10px;
		margin-bottom: 1%;
	}

	.post a {
		font-size: 0.8em;
	}

	.post h3 {
		margin: 0;
	}

	.post h3 a {
		font-size: 1em;
	}

	.post li {
		padding: 0.5%;
	}

/******banner******/

	.banner {
		margin: 1% 0;
	}

	.banner {
	/*background: #FFFF65;*/
		margin: 1% 0;
		padding: 1%;
	}

	.banner h2 {
		font-size: 1.5em;
		font-family: 'Yanone Kaffeesatz', sans-serif;
	}

	.banner h3 {
		color: #E9EAED;
	}

/******reblog******/

	.reblog {
		background: #E9EAED;
		border: 2px solid #B8A696;
		border-radius: 10px;
		text-align: left;
		margin: 0 20%;
		padding: 1%;
	}

	.reblog h3 {
		margin-top: 0;
		font-size: 1.2em;
	}

	.reblog article p {
		margin: 0;
		font-size: 0.8em;
	}

/******list in authors page******/

	.list {
		text-align: center;
	}

	.list li {
		margin-bottom: 1em;
	}

	.list h3 {
		display: inline;
	}

	.list h3 a {
		color: #E9EAED;
	}

	.list h3 a:hover {
		color: #FFFF65;
	}

	.list h4 {
		 display: inline;
		 margin-left: 1%;
	}

/******footer******/

	footer {
		/*background: #000000;
		height: 40px;
		border-top: 4px solid #E9EAED;
		margin: 2% 0 0 0;
		position: absolute;
		bottom: 0;*/
	}
}

@media screen and (max-width: 710px) {
	article {
		font-size: 40%;
	}

	.detail {
		height: 350px;
	}
}

@media screen and (max-width: 657px) {
/******Header******/

	/*header {
		background: #000000;
		padding: 2% 5%;
		text-align: center;
		border-bottom: 4px solid #E9EAED;
	}

	header h1 {
		display: block;
	}

	header h1 a {
		color: #FFFF65;
		font-size: 1.8em; 
		line-height: 1.2;
		font-weight: bold;
		font-family: 'Oswald', sans-serif;
		letter-spacing: 0em;
		display: block;
		text-align: center;
		width: 100%;
		margin-bottom: 2%;
	}

	header h1 a:hover {
	
	}
	
	header h2 {
		display: inline;
		font-size: 1.8em;
	}

	header h6	 {
		font-size: 1.5em;
		display: inline;
	}

	nav {
		margin-top: 3px;
		width: 100%;
	}

	nav ul {
		width: 78%;
		float: right;
		text-align: right;
	}

	nav ul li {
		float: left;
		list-style: none;
		padding: 0;
	}

	nav ul li #third {
		margin-right: 0.8em;
	}
	
	
	nav ul li a {
		color: #FFFF65;
		margin-left: 0.8em;
	}

	nav ul li a:hover {
		color: #BABA4A;
	}	*/

/******submit form******/
	
	.submit_index {
		margin-top: 9%;
	}

	.submit {
		width: 100%;
		margin-bottom: 1%;
		margin-top: 24px;
	}

	.submit #heading {
		margin: -2% 0 -6% 0;
	}

	.submit #heading p {
		display: inline;
	}

	.submit #heading form {
		margin: 1% 0;
	}

	.submit form {
		margin-bottom: 1%;
	}

	.submit #body button {
		position: relative;
		left: 10px;
		bottom: 6px;
	}

	.submit form#add_author {
		margin-bottom: 3%;
	}

	.submit #add {
		display: block;
		margin-bottom: 3%;
	}

	.submit #dropbox {
		display: block;
		margin-bottom: 10%;
	}

	.submit #author {
		display: block;
		padding: 3% 0;
	}

	.submit #title {
		display: block;
		margin-bottom: 3%;
	}

	.submit #hashtag {
		display: block;
		margin-bottom: 3%;
	}

/******wrapper******/

	.wrapper h3	 {
		margin: 2% 0;
	}

	.wrapper form {
		margin-bottom: 2%;
	}

	.detail {
		border: 2px solid #B8A696;
		border-radius: 10px;
		text-align: left;
		margin: 0 20% 5% 20%;
		padding: 2%;
		height: 200px;
		font-size: 50%;
	}

	.detail p {
		margin: 0;
	}

	.title {
		font-size: 2em;
	}

	.date {
		color: #B8A696;
		font-size: 1.5em;
		margin-top: 0;
		margin-top: 0;
		text-align: left;
	}

	.content::first-letter {
		text-transform: capitalize;
		font-size: 2.5em;
		color: #E96462;
	}

/******timeline******/

	.timeline {
		padding:0 3% 0 3%;
	}

	.timeline form {
		display: inline;
	}

	.timeline h4 {
		text-align: left;
		font-size: 0.8em;
		margin-left: 2%;
		margin-top: 1%;
	}

	.timeline li {
		margin-bottom: 2%;
	}

	.timeline a {
		margin-right: 1%;
	}

	.post {
		background-color: rgba(233, 234, 237, 0.7);
		border: 2px solid #B8A696;
		border-radius: 10px;
		margin-bottom: 1%;
	}

	.post a {
		font-size: 0.8em;
	}

	.post h3 {
		margin: 0;
	}

	.post h3 a {
		font-size: 1em;
	}

	.post li {
		padding: 0.5%;
	}

/******banner******/

	.banner {
		margin: 1% 0;
	}

	.banner {
	/*background: #FFFF65;*/
		margin: 1% 0;
		padding: 1%;
	}

	.banner h2 {
		font-size: 1.5em;
		font-family: 'Yanone Kaffeesatz', sans-serif;
	}

	.banner h3 {
		color: #E9EAED;
	}

/******reblog******/

	.reblog {
		background: #E9EAED;
		border: 2px solid #B8A696;
		border-radius: 10px;
		text-align: left;
		margin: 0 20%;
		padding: 1%;
	}

	.reblog h3 {
		margin-top: 0;
		font-size: 1.2em;
	}

	.reblog article p {
		margin: 0;
		font-size: 0.8em;
	}

/******list in authors page******/

	.list li {
		margin-bottom: 1em;
	}

	.list h3 {
		display: inline;
	}

	.list h3 a {
		color: #E9EAED;
	}

	.list h3 a:hover {
		color: #FFFF65;
	}

	.list h4 {
		 display: inline;
		 margin-left: 1%;
	}

/******footer******/

	footer {
		/*background: #000000;
		height: 40px;
		border-top: 4px solid #E9EAED;
		margin: 2% 0 0 0;
		position: absolute;
		bottom: 0;*/
	}
}

@media screen and (max-width: 583px) {
/******Header******/

/******submit form******/

	.submit {
		width: 100%;
		margin-bottom: 1%;
		margin-top: 24px;
	}

	.submit #heading {
		margin: -2% 0 -6% 0;
	}

	.submit #heading p {
		display: inline;
	}

	.submit #heading form {
		margin: 1% 0;
	}

	.submit form {
		margin-bottom: 1%;
	}

	.submit #body button {
		position: relative;
		left: 10px;
		bottom: 6px;
	}

	.submit form#add_author {
		margin-bottom: 3%;
	}

	.submit #add {
		display: block;
		margin-bottom: 3%;
	}

	.submit #dropbox {
		display: block;
		margin-bottom: 10%;
	}

	.submit #author {
		display: block;
		padding: 3% 0;
	}

	.submit #title {
		display: block;
		margin-bottom: 3%;
	}

	.submit #hashtag {
		display: block;
		margin-bottom: 3%;
	}

/******wrapper******/

	.wrapper h3 {
		margin: 2% 0;
		/*color: #E96462;*/
	}

	.wrapper form {
		margin-bottom: 2%;
	}

	.detail p {
		margin: 0;
	}

	.title {
		font-size: 2em;
	}

	.date {
		color: #B8A696;
		font-size: 1.5em;
		margin-top: 0;
		margin-top: 0;
		text-align: left;
	}

	.content::first-letter {
		text-transform: capitalize;
		font-size: 2.5em;
		color: #E96462;
	}

/******timeline******/

	.timeline {
		padding:0 3% 0 3%;
	}

	.timeline form {
		display: inline;
	}

	.timeline h4 {
		text-align: left;
		font-size: 0.8em;
		margin-left: 2%;
		margin-top: 1%;
	}

	.timeline li {
		margin-bottom: 2%;
	}

	.timeline a {
		margin-right: 1%;
	}

	.post {
		background-color: rgba(233, 234, 237, 0.7);
		border: 2px solid #B8A696;
		border-radius: 10px;
		margin-bottom: 1%;
	}

	.post a {
		font-size: 0.8em;
	}

	.post h3 {
		margin: 0;
	}

	.post h3 a {
		font-size: 1em;
	}

	.post li {
		padding: 0.5%;
	}

/******banner******/

	.banner {
		margin: 1% 0;
	}

	.banner {
	/*background: #FFFF65;*/
		margin: 1% 0;
		padding: 1%;
	}

	.banner h2 {
		font-size: 1.5em;
		font-family: 'Yanone Kaffeesatz', sans-serif;
	}

	.banner h6	 {
		color: #E9EAED;
	}

/******reblog******/

	.reblog {
		background: #E9EAED;
		border: 2px solid #B8A696;
		border-radius: 10px;
		text-align: left;
		margin: 0 20%;
		padding: 1%;
	}

	.reblog h3 {
		margin-top: 0;
		font-size: 1.2em;
	}

	.reblog article p {
		margin: 0;
		font-size: 0.8em;
	}

/******list in authors page******/

	.list li {
		margin-bottom: 1em;
	}

	.list h3 {
		display: inline;
	}

	.list h3 a {
		margin-right: 0.5em;
		color: #E9EAED;
	}

	.list h6 a:hover {
		color: #FFFF65;
	}

	.list h4 {
		 display: inline;
		 margin-left: 1%;
	}

/******footer******/

	footer {
		/*background: #000000;
		height: 40px;
		border-top: 4px solid #E9EAED;
		margin: 2% 0 0 0;
		position: absolute;
		bottom: 0;*/
	}
}

@media screen and (max-width: 401px) {

/******body******/

	body {
		padding-bottom: 5%;
	}

/******header******/

	header {
		background: #000000;
		padding: 2% 0 0 0;
		text-align: center;
		border-bottom: none;
	}

	header h1 a {
		color: #FFFF65;
		font-size: 1.3em; 
		line-height: 1.2;
		font-weight: bold;
		font-family: 'Oswald', sans-serif;
		letter-spacing: 0em;
		float: none;
	}

	header h1 a:hover {

	}
	
	header h2 {
		display: inline;
		font-size: 1.8em;
	}

	header h3 {
		font-size: 1.5em;
		display: inline;
	}

	nav {
		float: none;
		margin-top: 3px;
		text-align: center;
	}

	nav ul {
		width: 100%;
	}

	nav ul li {
		float: none;
		background: #E9EAED;
		border-bottom: 1px solid #000000;
		list-style: none;
		text-align: center;
		padding: 2%;
	}

	nav ul li#search_tag {
		display: none;
	}
	
	nav ul li a {
		color: #000000;
		text-align: center;
		margin: 0;
	}

	nav ul li a#third {
		margin-right: 0;
	}


	nav ul li:hover {
		background: #B5B5B8;
	}

	nav ul li a:hover {
		color: #FFFF65;
	}

/******submit form******/

	.submit {
		width: 100%;
		margin-bottom: 1%;
		margin-top: 24px;
	}

	.submit #heading p {
		display: inline;
	}

	.submit #heading form {
		margin: 1% 0;
	}

	.submit form {
		margin-bottom: 1%;
	}

	.submit #body button {
		position: relative;
		left: 10px;
		bottom: 6px;
	}

	.submit #add {
		display: block;
	}

	.submit #drobox {
		display: block;
	}

	.submit #author {
		display: block;
	}

	.submit #title {
		display: block;
	}

	.submit #hashtag {
		display: block;
	}

/******wrapper******/

	.wrapper {
		margin: 0;
	}

	.wrapper h2 {
		margin: 5% 0;
	}
	
	.wrapper h3 {
		/*color: #E96462;*/
	}

	.wrapper form {
		margin-bottom: 2%;
	}

	textarea {
		width: 90%;
	}	

	button#subscribe {
		margin: 10% 0 7% 0;
	}

	article {
		font-size: 35%;
	}

	.detail {
		background: #E9EAED;
		border: 2px solid #B8A696;
		border-radius: 10px;
		text-align: left;
		margin: 0 20% 5% 20%;
		padding: 2%;
	}

	.detail p {
		margin: 0;
	}

	.title {
		font-size: 2em;
	}

	.date {
		color: #B8A696;
		font-size: 1.5em;
		margin-top: 0;
		margin-top: 0;
		text-align: left;
	}

	.content::first-letter {
		text-transform: capitalize;
		font-size: 2.5em;
		color: #E96462;
	}

/******timeline******/

	.timeline {
		padding:0 3% 0 3%;
		margin-bottom: 2%;
	}

	.timeline form {
		display: inline;
	}

	.timeline h4 {
		text-align: left;
		font-size: 0.8em;
		margin-left: 2%;
		margin-top: 1%;
	}

	.timeline li {
		margin-bottom: 2%;
	}

	.timeline a {
		margin-right: 1%;
	}

	.post {
		background-color: rgba(233, 234, 237, 0.7);
		border: 2px solid #B8A696;
		border-radius: 10px;
		margin-bottom: 1%;
	}

	.post a {
		font-size: 0.8em;
	}

	.post h3 {
		margin: 0;
	}

	.post h3 a {
		font-size: 1em;
	}

	.post li {
		padding: 0.5%;
	}

/******banner******/

	.banner {
		margin: 1% 0;
	}

	.banner {
	/*background: #FFFF65;*/
		margin: 1% 0;
		padding: 1%;
	}

	.banner h2 {
		font-size: 1.5em;
		font-family: 'Yanone Kaffeesatz', sans-serif;
	}

	.banner h3 {
		color: #E9EAED;
	}

/******reblog******/

	.reblog {
		background: #E9EAED;
		border: 2px solid #B8A696;
		border-radius: 10px;
		text-align: left;
		margin: 0 20%;
		padding: 1%;
	}

	.reblog h3 {
		margin-top: 0;
		font-size: 1.2em;
	}

	.reblog article p {
		margin: 0;
		font-size: 0.8em;
	}

/******list in authors page******/

	.list {
		padding: 0;
		text-align: center;
	}

	.list li {
		margin-bottom: 1em;
	}

	.list h3 a {
		display: inline;
		color: #E9EAED;
	}

	.list h3 a:hover {
		color: #FFFF65
	}

	.list h4 {
		 display: inline;
		 margin-left: 1%;
	}

/******footer******/

	footer {
		/*background: #000000;
		height: 40px;
		border-top: 4px solid #E9EAED;
		margin: 2% 0 0 0;
		position: absolute;
		bottom: 0;*/
	}
}